@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-color:#001145;
  --text-color: #9A9A9A;
  --black-color: #000000;
  --white-color: #fff;
}

/*
===============================
Global CSS START
===============================
*/
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
}
html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}
img, svg {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
  transition: 0.3s all ease;
}
a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  color: var(--text-white);
  text-decoration: none;
}
a {
  text-decoration: none;
}
button:focus,input:focus,input:focus,textarea,textarea:focus{outline: 0}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  font-weight: 700;
  line-height: 3.875rem;
}
h4,
h5 {
  font-weight: 600;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p:last-of-type {
	margin: 0;
}

/*
==========================
Main Btn Css Start
==========================
*/
.site-btn {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 45px;
  display: inline-block;
  transition: 0.3s all ease;
  border-radius: 12px;
  letter-spacing: 0.3px;
  color: var(--white-color);
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}
.site-btn:hover {
  color: var(--white-color);
  background-color: #FF9500;
}
/*
=========================
Main Btn Css End 
=========================
*/
#page {
  overflow: hidden;
}
@media screen and (min-width: 1360px) {
  .container {
     max-width: 1350px;
  }
  .container-large {
     max-width: 1400px;
  }
  }
  .p-relative {
	position: relative;
  }
  .sec-brand-logo {
	position: absolute;
	right: 36px;
	bottom: 36px;
}
/*
============================
Global CSS END
============================
*/

/*
============================
Header Css Start
============================
*/

.site-header {
  background-color: var(--primary-color);
  padding-bottom: 20px;
}
/* .header_topbar {
	padding-left: 14.9375rem;
	padding-right: 14.9375rem;
} */
.h-topbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #445C78;
  padding: 12px 76px;
}
.h-topbar-info ul {
  display: flex;
  column-gap: 20px;
}
.h-topbar-info li a, .h-topbar-info li p {
  color: #E5E5E5;
  font-size: 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.h-topbar-info li img {
  margin-right: 12px;
  color: var(--primary-color);
}
/* Mian Header */
.header-main {
	padding: 23px 0;
}
.header-inline-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-right-wrapper {
	display: flex;
  align-items: center;
	justify-content: flex-end;
	column-gap: 60px;
}
.header-btn-wrap {
	display: flex;
	align-items: center;
	column-gap: 16px;
  }
  .header-btn-wrap .h-btn {
	color: var(--white-color);
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 0.3px;
	padding: 6px 36px;
	border-radius: 4px;
	border: 0.5px solid transparent;
	background-color: transparent;
	transition: 0.3s all ease;
  }
  .header-btn-wrap .h-btn.b-btn {
	border-color: var(--white-color);
  }
  .header-btn-wrap .h-btn.b-btn:hover {
	color: var(--white-color);
	background-color: #FF9500;
	border-color: #FF9500;
  }
  .header-btn-wrap .h-btn.bg-btn {
	background-color: #FF9500;
	border: 0;
	padding: 6px 23px;
  }
  .custom-select {
	position: relative;
  }
  .custom-select select {
	  appearance: none;
	  -webkit-appearance: none;
	  width: 100%;
	  font-size: 16px;
	  font-weight: 600;
	  background-color: var(--primary-color);
	  font-family: "Montserrat", sans-serif;
	  border: 0;
	  color: var(--white-color);
	  cursor: pointer;
	  text-transform: uppercase;
	  padding-right: 20px;
  }
  .custom-select::before {
	content: "\f107";
	position: absolute;
	right: 0;
	top: 0;
	font-family: 'Font Awesome 6 pro';
	font-size: 14px;
	color: var(--white-color);
}
@media only screen and (max-width:1199px) {
	.site-logo {
		max-width: 170px;
	}
	.h-topbar-inner {
		padding: 12px 50px;
	}
}
@media only screen and (max-width:991px) {
	.h-topbar-inner {
		flex-direction: column;
		row-gap: 10px;
	}
}
@media only screen and (max-width:767px) {
	.h-topbar-inner {
		display: block;
	}
	.h-topbar-info ul {
		display: block;
	}
	.header-btn-wrap {
		display: none;
	}
}
/* Nav Menu */
.site-header .main-menu {
	text-align: right;
}
.site-header .menu {
	display: flex;
	column-gap: 30px;
} 
.site-header .menu > .menu-item{
	display: inline-block;
	position: relative;
}
.site-header .menu > .menu-item > a {
	color: #E5E5E5;
	font-weight: 300;
	font-size: 14px;
	display: block;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	transition: 0.3s all ease;
}
.site-header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.site-header .menu > .menu-item:hover > a{
	color: #FF9500;
}
.site-header .open-nav-menu {
	height: 34px;
	width: 100%;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
}
.site-header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: var(--white-color);
    position: relative;
}
.site-header .open-nav-menu span:before,
.site-header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: var(--white-color);
	box-sizing: border-box;
}
.site-header .open-nav-menu span:before{
	top:-7px;
}
.site-header .open-nav-menu span:after{
	top:7px;
}
.site-header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.site-header .close-nav-menu img{
	width: 16px;
}
.site-header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/* Navber Responsive Start */
@media only screen and (max-width:1400px) {
  .header-right-wrapper {
    column-gap: 30px;
  }
}
@media only screen and (max-width:1199px) {
  .site-header .menu {
    column-gap: 25px;
  }
}
@media only screen and (max-width: 991px){
  .site-header .open-nav-menu {
    width: auto;
  }
	.site-header .menu-overlay.active{
   	visibility: visible;
	  opacity: 1;
  }
	.site-header .main-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: var(--primary-color);
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.site-header .main-menu.open{
		visibility: visible;
		right: 0px;
	}
  .site-header .menu {
    flex-direction: column;
	text-align: left;
  }
	.site-header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.site-header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.site-header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.site-header .close-nav-menu,
	.site-header .open-nav-menu{
		display: flex;
	}
}
/* Navber Responsive End */
/*
============================
Header Css End
============================
*/
/*
============================
Hero Css Start
============================
*/
.hero-section {
	padding-top: 180px;
	padding-bottom: 243px;
	background-size: cover;
	background-position: center;
  }
  .hero-btn {
	margin-top: 106px;
  }
  @media only screen and (max-width:991px) {
	.hero-section {
		padding-top: 150px;
		padding-bottom: 180px;
	}
  }
  @media only screen and (max-width:767px) {
	.hero-section {
		padding-top: 100px;
		padding-bottom: 150px;
	}
	.hero-btn {
		margin-top: 50px;
	}
	.site-btn {
		font-size: 15px;
	}
  }
/*
============================
Hero Css End
============================
*/

/*
============================
Service Box Css Start
============================
*/
.service-box {
	padding: 30px 36px;
	border-style: solid;
	border-color: #001145;
	text-align: center;
	border-radius: 12px;
	background-color: var(--white-color);
	box-shadow: 0px 0px 10px 2px #00000033;
  }
.service-box.service-box-1 {
	border-width: 0px 2px 2px 0px;
}
.service-box.service-box-2 {
	border-width: 2px 0px 0px 2px;
}
.service-box.service-box-3 {
    border-width: 0px 0px 2px 2px;
}
.service-box h3 {
	font-size: 30px;
	font-weight: 600;
	line-height: 48px;
	color: var(--primary-color);
	margin-top: 18px;
  }
  @media only screen and (max-width:991px) {
	.service-box h3 {
		font-size: 22px;
		line-height: 42px;
	}
  } 
  @media only screen and (max-width:767px) {
	.service-box {
		margin-bottom: 25px;
	}
	.service-box.service-box-3 {
		margin-bottom: 0;
	}
  } 
/*
============================
Service Box Css End
============================
*/

/*
===============================
Trackmaster Slides Css Start
===============================
*/
.trackmaster-slides-bg {
	padding-top: 262px; 
	padding-bottom: 382px;
	text-align: center;
	background-size: cover;
	background-position: center;
	position: relative;
  }
  .trackmaster-content {
	color: var(--white-color);
  }
  .trackmaster-content h1 {
	font-size: 80px;
	line-height: 78px;
	margin-bottom: 30px;
  }
  .trackmaster-content span {
	font-size: 36px;
	font-weight: 500;
	line-height: 48px;
  }

.trackmaster-slides-active .slick-dots {
	position: absolute;
	left: 50%;
	bottom: 80px;
	transform: translateX(-50%);
  }
.trackmaster-slides-active .slick-dots li {
	width: 29px;
	height: 6px;
	border-radius: 40px;
	margin: 0 10px;
	outline: none;
	cursor: pointer;
	display: inline-block;
	background: #FFFFFF99;
  }
  .trackmaster-slides-active .slick-dots li button {
	display: none;
  }
  .trackmaster-slides-active .slick-dots li.slick-active {
	background-color: var(--white-color);
  }
  @media only screen and (max-width:991px) {
	.trackmaster-slides-bg {
		padding-top: 180px;
		padding-bottom: 310px;
	}
	.trackmaster-content h1 {
		font-size: 60px;
		line-height: 70px;
		margin-bottom: 20px;
	}
	.trackmaster-content span {
		font-size: 30px;
	}
  }
  @media only screen and (max-width:767px) {
	.trackmaster-slides-bg {
		padding-top: 120px;
		padding-bottom: 180px;
	}
	.trackmaster-content h1 {
		font-size: 40px;
		line-height: 70px;
		margin-bottom: 0;
	}
	.trackmaster-content span {
		font-size: 20px;
	}
  }
/*
===============================
Trackmaster Slides Css End
===============================
*/

/*
===============================
Kingdom Css Start
===============================
*/
.kingdom-wide-section {
	background: #0011450D;
  }
.section-title h2 {
	color: var(--primary-color);
	font-size: 48px;
	line-height: 62px;
	margin-bottom: 0;
	font-weight: 600;
  }
  .section-title p {
	color: #00000099;
	font-size: 18px;
	line-height: 27px;
	font-weight: 400;
  }
  .kingdom-map-wrap {
	margin-top: 73px;
  }
/*
===============================
Kingdom Css End
===============================
*/

/*
===============================
Features Css Start
===============================
*/
.features-section {
	background: #0033CE0D;
}
  .features-box-wrap {
	margin-top: 87px;
	position: relative;
  }
  .features-content {
	position: absolute;
	bottom: 22px;
	z-index: 9;
	left: 32px;
  }
  .features-content h5 {
	color: var(--white-color);
	font-size: 16px;
	line-height: 19px;
	position: relative;
	font-weight: 700;
	margin-bottom: 8px;
  }
  .features-content h5:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	border: 1px solid #FFFFFF;
  }
  .read-more-btn {
	color: var(--white-color);
	font-size: 14px;
	display: inline-block;
	font-weight: 500;
	transition: 0.3s all ease;
  }
  .read-more-btn:hover {
	color: var(--white-color);
  }
  .read-more-btn i {
	padding-left: 12px;
  }
.features-btn {
	margin-top: 56px;
  }
  .features-btn a {
	padding: 13px 30px;
  }
  @media only screen and (max-width:991px) {
	.features-box-wrap {
		margin-top: 60px;
	}
	.section-title h2 {
		font-size: 40px;
		line-height: 58px;
	}
	.section-title p {
		font-size: 16px;
		line-height: 25px;
	}
  }
  @media only screen and (max-width:767px) {
	.section-title h2 {
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 10px;
	}
	.section-title p {
		font-size: 15px;
		line-height: 22px;
	}
	.features-box-wrap {
		margin-top: 40px;
	}
	.feature-img img {
		width: 100%;
	}
	.features-btn {
		margin-top: 45px;
	}
  }
/*
===============================
Features Css End
===============================
*/

/*
===============================
About Us Css Start
===============================
*/
.about-us-section {
	padding: 270px 0;
	background: #00AF901A;
}
.about_title p {
	color: #9A9A9A;
	font-size: 26px;
	line-height: 32px;
	font-weight: 500;
	margin-top: 20px;
  }
.sec_subtitle {
	color: #C7C7C7;
	font-size: 24px;
	font-weight: 700;
	position: relative;
	max-width: 205px;
	margin-left: auto;
	margin-right: auto;
  }
  .sec_subtitle:before {
	content: "";
	position: absolute;
	width: 11px;
	height: 14px;
	top: 50%;
	left: 14px;
	transform: translateY(-50%);
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid var(--primary-color);
  }
  .sec_subtitle:after {
	content: "";
	position: absolute;
	width: 11px;
	height: 14px;
	top: 50%;
	right: 14px;
	transform: translateY(-50%);
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 10px solid var(--primary-color);
  }
  @media only screen and (max-width:991px) {
	.about-us-section {
		padding: 150px 0;
	}
	.sec_subtitle {
		font-size: 22px;
		max-width: 190px;
	}
	.about_title p {
		font-size: 22px;
		line-height: 30px;
		margin-top: 15px;
	}
  }
  @media only screen and (max-width:767px) {
	.about-us-section {
		padding: 100px 0;
	}
	.sec_subtitle {
		font-size: 18px;
		max-width: 180px;
		margin-bottom: 20px;
	}
	.about_title p {
		font-size: 18px;
		line-height: 28px;
		margin-top: 12px;
	}
	.about_title p br {
		display: none;
	}
	.sec_subtitle::before {
		width: 10px;
		height: 12px;
		left: 24px;
	}
	.sec_subtitle::after {
		width: 10px;
		height: 12px;
		right: 24px;
	}
  }
/*
===============================
About Us Css End
===============================
*/



/*
============================
Footer Css Start
============================
*/



/*
============================
Footer Css End
============================
*/




